body {
  margin: 20px;
  background: #EAB0FF;
}
body h2 {
  margin: 10px;
}
.contact_form {
  margin: 10px 20%;
}
.news1 {
  margin: 50px;
  color: red;
}
.news1 h2 {
  color: green;
}
#news2 {
  color: blue;
}
#header {
    background: #EA18FF;
    color: black;
}
div.breadcrumbs {
    background: #EA65FF;
    color: black;
}
.module caption{
    background: #EA35FF;

}
