<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body style="background: #EAB0FF">
    <h1>Контакты из шаблона</h1>
    <p>Контакты на портале</p>
   <table border="5" align="center" >
        <th>Телефон</th>
        <th>Telegram</th>
        <th>Город</th>
        <tr>
            <td> +7 ххх-ххх-23-22</td>
            <td> @Michael_Fireman</td>
            <td> Киров-Вятка</td>
        </tr>
        <tr>
            <td colspan="3"> Весь в освоении Питона</td>
        </tr>
    </table>
    <a href="../">На главную</a>
</body>
</html>
